<section>

    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <mat-form-field class="auth-input">
        <input
          placeholder="E-mail"
          matInput
          type="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          autocomplete="on"
        >
      </mat-form-field>
      <mat-form-field hintLabel="Should be at least 6 characters long">
        <input
          placeholder="Password"
          class="auth-input"
          matInput
          type="password"
          id="password"
          ngModel
          name="password"
          required
          minlength="6"
          autocomplete="on"
        >
      </mat-form-field>
      <div fxLayoutGap="18px" class="submit-btns">
        <button mat-raised-button type="submit" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign Up'}}
        </button>
        <button mat-raised-button type="button" (click)="onSwitchMode(authForm)">
          Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}
        </button>
      </div>

    </form>
    <div fxLayoutAlign="center center" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
</section>
