<section>
  <div fxLayoutAlign="flex-end center">
    <button mat-button slot="end" (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="container" fxLayoutGap.gt-xs="12px" fxLayoutAlign="space-between flex-start" fxLayout.xs="column">
    <div>
      <div class="item">
        <h3>Title</h3>
        <p>{{task.title}}</p>
      </div>
      <div class="item" *ngIf="task.executor">
        <h3>Executor</h3>
        <p>{{task.executor}}</p>
      </div>
      <div class="item" *ngIf="task.description">
        <h3>Task Description</h3>
        <p>{{task.description}}</p>
      </div>
    </div>
    <div class="item">
      <h3>Priority: {{task.priority | outputFormValue}}</h3>
      <h3>Status: {{task.status | outputFormValue}}</h3>
      <h3>Created At: {{task.date | date: 'dd.MM.yyyy'}}</h3>
    </div>
  </div>

  <div class="btns" fxLayoutGap="12px">
    <button mat-raised-button color="primary" slot="end" (click)="onEditTask()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="onDeleteTask()"
            *ngIf="isAdmin || task.status === 'notActive'"
    >
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>

</section>
