.description-field {
  width: 80%;
  max-width: 90%;
}

.long-filed {
  width: 250px;
  max-width: 90%;

}

.task-description {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #673ab7;
  margin-bottom: 12px;
  h3 {
    padding: 0;
    margin: 0;
  }
  p {
    margin: 5px 0;
  }

}
