<section>
  <div  fxLayoutAlign="flex-end center">
    <button mat-button slot="end" (click)="onCloseModal()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="taskForm"
        fxLayoutAlign="center flex-start" fxLayout="column"
        (ngSubmit)="onSubmitForm()"
  >
    <mat-form-field class="long-filed">
      <input matInput placeholder="Title" formControlName="title">
      <mat-error>Should be between 3 and 60 characters long</mat-error>
    </mat-form-field>
    <mat-form-field class="long-filed">
      <input matInput placeholder="Executor" formControlName="executor">
      <mat-error>Should be between 5 and 50 characters long</mat-error>
    </mat-form-field>
    <mat-form-field class="description-field">
    <textarea
      matInput placeholder="Description"
      formControlName="description"
      #descrInput
    ></textarea>
      <mat-hint align="end">{{descrInput.value?.length }} / 150</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select matNativeControl formControlName="priority" [disabled]="disableControls()"
      >
        <mat-option value="low">Low</mat-option>
        <mat-option value="med" selected>Medium</mat-option>
        <mat-option value="high">High</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select matNativeControl formControlName="status" (selectionChange)="onStatusChange()">
        <mat-option value="notActive" selected [disabled]="disableControls()">Not active</mat-option>
        <mat-option value="planned">Planned</mat-option>
        <mat-option value="done">Done</mat-option>
        <mat-option value="checked" [disabled]="disableControls()">Checked</mat-option>
        <mat-option value="closed" [disabled]="disableControls()">Closed</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="taskForm.invalid">Save</button>
  </form>
</section>
