<mat-toolbar color="primary" fxLayoutAlign="space-between center">

  <div><a routerLink="/">Service Desk App</a></div>
  <ng-container *ngIf="user$ |async as userIsAuth; else loginUser">
    <ng-container *ngIf="userIsAuth">
      <a href="/" (click)="onLogout()">Logout</a>
    </ng-container>
  </ng-container>
  <ng-template #loginUser>
    <a routerLink="/auth">Login</a>
  </ng-template>
</mat-toolbar>
<router-outlet></router-outlet>
