.table-component {
  min-width: 400px;
  max-width: 1200px;
  width: 100%;
  margin: 18px auto 0;
  .create-task {
    margin-top: 25px;
  }

  .filter-input {

    .mat-form-field-infix {
      .mat-form-field-label-wrapper {

        .mat-form-field-label {
          color: #000;
        }
      }
    }

    .mat-form-field-underline {
      background-color: #000 !important;
    }

  }

  mat-table {

    mat-row:hover {
      background: #673ab7;
      cursor: pointer;
      mat-cell {
        color: #fff;
      }
    }
  }

}

