<section class="table-component">
  <ng-container *ngIf="dataSource.data.length; else loadingOrError">

    <div fxLayoutAlign="center center">
      <mat-form-field fxFlex="40%" class="filter-input">
        <input matInput type="text" (keyup)="doFilterData($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" [trackBy]="trackByTaskId" matSort>
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef><span>Title</span></mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.title }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="executor">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span>Executor</span></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.executor | titlecase }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span>Priority</span></mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.priority | outputFormValue}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header><span>Status</span></mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.status | outputFormValue}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onOpenPreview(row)">
      </mat-row>
    </mat-table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </ng-container>
  <ng-template #loadingOrError>
    <div *ngIf="loadingError$ | async; else loadingOrNoData">
      <div fxLayoutAlign="center center" class="error">
        <h1>Data could not be fetched. Please try again later.</h1>
      </div>
    </div>
    <ng-template #loadingOrNoData>
      <ng-container>
        <h1 style="text-align: center">No data was found. Click button to create task</h1>
      </ng-container>
    </ng-template>
  </ng-template>
  <div class="create-task" fxLayoutAlign="center center">
    <button mat-raised-button class="create-task-btn" (click)="onCreateNewTask()">Create task</button>
  </div>
</section>
